[user]
  email = 75812823+bozo22@users.noreply.github.com
  name = Domonkos Nagy
[credential]
	helper = store
[safe]
	directory = /windows/mega/ELTE/Szoftvertechnológia/Gyakorlat/bubblesort.wiki
	directory = /windows/mega/ELTE/Szoftvertechnológia/Gyakorlat/bubblesort
	directory = /mnt/komondor/alphasort
